.u-section-1 {
  background-image: url("images/logo_background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 975px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-text-1 {
  margin: 77px 0 0;
}

.u-section-2 .u-list-1 {
  width: 1063px;
  margin: 37px auto 52px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 556px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-image-1 {
  width: 322px;
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 322px;
  min-height: 267px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 9px;
}

.u-section-2 .u-text-3 {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-2 .u-image-2 {
  width: 322px;
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 322px;
  min-height: 268px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 9px;
}

.u-section-2 .u-text-5 {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-2 .u-image-3 {
  width: 322px;
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 322px;
  min-height: 268px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 0 9px;
}

.u-section-2 .u-text-7 {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 398px;
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 492px;
  }

  .u-section-2 .u-image-1 {
    height: 238px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-image-2 {
    height: 238px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 1px;
  }

  .u-section-2 .u-image-3 {
    height: 238px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 141px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -3px;
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1131px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    margin-top: 16px;
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 237px;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 7px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 237px;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 7px;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 237px;
  }

  .u-section-2 .u-group-3 {
    width: 320px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 7px;
  }
}.u-section-3 {
  background-image: url("images/ndvi_edited.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 588px;
}

.u-section-3 .u-group-1 {
  width: 617px;
  min-height: 432px;
  height: auto;
  margin: 0 auto 60px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 31px 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 72px;
}

.u-section-3 .u-shape-1 {
  width: 140px;
  height: 10px;
  margin: 8px auto 0 72px;
}

.u-section-3 .u-text-2 {
  margin: 26px 42px 0 72px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 2537px;
}

.u-section-4 .u-text-1 {
  width: 718px;
  margin: 73px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 240px;
  height: 10px;
  margin: 8px auto 0;
}

.u-section-4 .u-list-1 {
  margin-bottom: 0;
  margin-top: 56px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 341px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 67px 10px 65px;
}

.u-section-4 .u-text-2 {
  margin: 17px auto 0;
}

.u-section-4 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 67px 10px 65px;
}

.u-section-4 .u-text-4 {
  margin: 17px auto 0;
}

.u-section-4 .u-text-5 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 737px;
  height: 471px;
  margin: 17px auto 0;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 413px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 125px;
}

.u-section-4 .u-text-6 {
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-list-2 {
  margin-bottom: 48px;
  margin-top: -138px;
}

.u-section-4 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 1104px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-4 .u-image-2 {
  width: 487px;
  height: 487px;
  margin: 8px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-4 .u-image-3 {
  width: 487px;
  height: 487px;
  margin: 8px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-4 .u-image-4 {
  width: 487px;
  height: 487px;
  margin: 8px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-4 .u-image-5 {
  width: 487px;
  height: 487px;
  margin: 8px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 281px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 911px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2526px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 460px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2411px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 345px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-2 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2283px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 217px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-image-4 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-image-5 {
    width: 340px;
    height: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin: 58px auto 0;
}

.u-section-5 .u-shape-1 {
  width: 90px;
  height: 10px;
  margin: 18px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 121px auto 60px;
  padding: 32px 99px 32px 98px;
}.u-section-6 .u-sheet-1 {
  min-height: 851px;
}

.u-section-6 .u-text-1 {
  margin: 39px auto 0;
}

.u-section-6 .u-shape-1 {
  width: 90px;
  height: 10px;
  margin: 6px auto 0;
}

.u-section-6 .u-image-1 {
  width: 630px;
  height: 446px;
  margin: 23px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 6px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 209px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 132px 30px 30px;
}

.u-section-6 .u-text-2 {
  margin: 0 auto 0 60px;
}

.u-section-6 .u-text-3 {
  margin: 23px auto 0 55px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 209px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 28px 128px;
}

.u-section-6 .u-text-4 {
  margin: 0 55px 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 23px 0 0 112px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 382px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 241px;
  }
}