<nav class="px-2 px-sm-4 py-2 shadow" style="background-color: #1e2d3b">
  <div class="container d-flex justify-content-between">
    <a href="/">
      <img src="assets/logo.png" height="30px" />
    </a>
    <div
      class="d-inline-flex align-self-center d-none d-lg-block fs-5 navbar-text p-0"
    >
      <a href="#our-goal" class="mx-3 text-decoration-none">
        <span class="navbar-text text-capitalize">mūsu mērķis</span>
      </a>
      <a href="#about-us" class="mx-3 text-decoration-none">
        <span class="navbar-text text-capitalize">par mums</span>
      </a>
      <a href="#ndvi" class="mx-3 text-decoration-none">
        <span class="navbar-text text-capitalize">veģetācijas indekss</span>
      </a>
      <a href="/map.html" class="mx-3 text-decoration-none">
        <span class="inverted-navbar-text text-uppercase">karte</span>
      </a>
    </div>
    <div class="d-block d-lg-none">
      <a href="/map.html" class="mx-3 text-decoration-none">
        <i class="fa fa-map text-white fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>
