{{ template "header.html" .}}
<div class="position-fixed w-100 h-100 d-flex flex-column">
  {{ template "navbar.html" .}}
  <main class="container h-100 w-100 pb-4 d-flex flex-column">
    <div id="map" class="w-100 flex-grow-1"></div>
    <div
      style="height: 80px"
      class="
        container
        bg-light
        mt-3
        d-flex
        align-items-center
        justify-content-between
        px-5
      "
    >
      <div>
        <b>Atlasītie lauki:</b>
        <span id="selected-fields"></span>
      </div>
      <button
        type="button"
        id="fields-submit-btn"
        class="btn btn-success px-4 ml-5 disabled"
        onClick="submitSelectedFields()"
      >
        Turpināt
      </button>
    </div>
  </main>
</div>
<script src="dist/main.js"></script>
{{ template "footer.html" .}}
