{{template "header.html"}} {{template "profile-navbar.html"}}
<div class="container my-5">
  <div class="bg-white p-4 shadow-lg py-5">
    <h4 class="text-center">Jums pieejamās datnes</h4>
    <table class="table text-center table-bordered">
      <thead>
        <tr>
          <th scope="col">Reģions</th>
          <th scope="col">Datne</th>
          <th scope="col">Tips</th>
          <th scope="col">Datums</th>
        </tr>
      </thead>
      <tbody>
        {{range .payload}}
        <tr>
          <th scope="row">2434-14_4</th>
          <td>
            <a href="/download/{{.DownLink}}" target="_blank"
              >{{.FileName}}<i
                class="fa fa-download mx-2"
                aria-hidden="true"
              ></i
            ></a>
          </td>
          <td>{{.FileType}}</td>
          <td>{{.ReqDate}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  <h4 class="text-center mt-5">Uzmanību!</h4>
  <p class="w-50 m-auto" style="text-align:justify">
  Viena reģiona apstrādei nepieciešama viena minūte, kā arī procesa laikā tiek izmantoti līdz pat 7 GB RAM, līdz ar to uz doto brīdi tie tiek apstrādāti pa vienam.
  Lūdzu, atgriezieties šajā sadaļā pēc kada laiciņa, lai piekļūt saviem reģioniem.
  </p>
  </div>
</div>
<script src="dist/main.js"></script>
