.btn-success {
    color: #fff;
    background-color: rgb(120,160,71);
    border-color: #198754;
    border-color: rgb(120,160,71);
}

.profile-text {
    color: #fff;
    transition: color 0.2s ease-in-out;
}

.profile-text:hover {
    color:#8dd62d;
    transition: color 0.2s ease-in-out;
}